/*Theme Colors*/
$primary-color: #322942;
$highlight-color: #a2939b;

$background: #a5a5b5;
$card-background: #1a1721;
$text: #d9ecf0;
$white: #f8f7f9;
$pale: #ffff;
$main: #f15a4b;

/*Misc Colors*/

$lightgray: #f8f8f8;
$gray: #c0c0c0;
$smoke: #a4a4a4;
$darkgray: #404040;
$star: #f0c04f;

/* Alerts */

$info-background: #7878e3;
$info-text: #2626ba;

$error-background: #ffe0e0e0;
$error-text: #a02020;

$success-background: #eeffe0;
$success-text: #20a020;

$sky: #caebf2;
$carbon: #a9a9a9;
$neutral: #efefef;
