@use 'colors';

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: colors.$lightgray;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid colors.$neutral;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}
