@use 'colors';

/*Layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background: colors.$primary-color;
  a {
    color: colors.$white;
    padding: 0.1rem;
  }
}

.logo {
  padding-left: 1rem;
}

.cart {
  grid-area: cart;
  padding: 0.5rem;
}

.user {
  grid-area: user;
  color: colors.$white;
  padding: 0.5rem 1rem;

  &:hover {
    color: colors.$highlight-color;
  }
}

.header-menu {
  min-width: 10%;
  display: grid;
  grid-template-areas: "cart user";
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  place-items: center;
}

main {
  grid-area: main;
  background-color: colors.$background;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: colors.$primary-color;
  color: colors.$white;
}
