@use 'colors';
@use 'layout';
@use 'tables';
@use 'images';
@use 'card';

/* Font Stack*/
%font-stack {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; /*16px x 62.5=10 = 1rem*/
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  @extend %font-stack;
}

#root {
  height: 100%;
}

/*Common Classes*/
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: colors.$text;

  &:hover {
    color: colors.$highlight-color;
  }

  &.brand {
    color: colors.$white;
    font-size: 3rem;
    font-weight: bold;
  }
}

ul {
  padding: 0 1rem;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  @extend %font-stack;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem colors.$smoke solid;

  &:hover {
    border: 0.1rem colors.$darkgray solid;
  }
}

button {
  background-color: colors.$lightgray;
  cursor: pointer;

  &.primary {
    border: 0.1rem colors.$primary-color;
    background-color: colors.$main;
    color: colors.$text;
    font-weight: 600;
  }

  &.block {
    width: 100%;
  }

  &.small {
    font-size: 1.2rem;
  }
}

/* Header */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &.center {
    justify-content: center;
  }

  &.top {
    align-items: flex-start;
  }
}

.badge {
  background-color: colors.$main;
  color: colors.$white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  position: relative;
  bottom: 1rem;
  left: 2rem;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* Alerts */
.loading {
  display: block !important;
}

// .success {
//   color: colors.$success-text;
// }

// .danger {
//   color: colors.$error-text;
// }

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  font-weight: bold;

  &-info {
    background-color: colors.$info-background;
    color: colors.$info-text;

    a {
      padding-left: 2rem;
      color: colors.$text;
    }

    a:hover {
      color: colors.$primary-color;
    }
  }

  &-error {
    background-color: colors.$error-background;
    color: colors.$error-text;
  }

  &-success {
    color: colors.$success-text;
    background-color: colors.$success-background;
  }
}

/*Form*/

.form {
  max-width: 60rem;
  margin: 0 auto;

  & > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  & label {
    margin: 1rem 0;
  }
}

input:focus {
  outline: none;
}

/*Dropdown*/

.dropdown {
  display: inline-block;
  position: relative;
  padding: 1rem;

  &-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: colors.$primary-color;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Checkout Steps*/
.checkout-steps > div {
  border-top: 0.3rem colors.$gray solid;
  color: colors.$gray;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: colors.$highlight-color;
  color: colors.$highlight-color;
}
